# HTTP
PORT="3000"
HOST="0.0.0.0"
LOG_LEVEL="debug"
BASE_URL="http://localhost:3000"
ALLOWED_CORS=""

# DB

CASSANDRA_CONTACT_POINTS="localhost"
CASSANDRA_DATACENTER="datacenter1"
CASSANDRA_KEYSPACE="llink"

REDIS_HOST="localhost"
REDIS_PORT="6379"

# PRODUCTION

NODE_ENV="development"